version: '3.7'
services:
  {% for container in containers %}
  {{ container.name }}:
    container_name: {{ container.name }}
    image: {{ container.image }}
    network_mode: host
    {% if container.env %}
    env:
    {% for key, value in container.env.items() %}
      {{ key }}: {{ value}}
    {% endfor %}
    {% endif %}
  {% endfor %}
